/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(189, 225, 122);
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.container {
    text-align: center;
}

.header-container {
    margin-bottom: 20px;
}

.header-text {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.gif-container {
    margin-bottom: 20px;
}

.gif-container img {
    max-width: 100%;
    height: auto;
    max-height: 60vh;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #ffffff;
    color: rgb(233, 48, 48);
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: rgb(233, 48, 48);
    color: white;
    transform: scale(1.05);
}

#noButton {
    position: absolute;
    transition: left 0.5s, top 0.5s;
}

/* Media Queries */
@media only screen and (max-width: 320px) {
    body {
        height: 100vh;
    }

    .header-text {
        font-size: 20px;
    }

    .gif-container img {
        height: 60vh;
    }

    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) {
    body {
        height: 90vh;
    }

    .header-text {
        font-size: 28px;
    }

    .gif-container img {
        height: 60vh;
    }

    .btn {
        padding: 15px 25px;
        font-size: 14px;
    }
}
